@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: #000;
  --white: #fff;
  --subitle-color: #4D5254;
  --stepper-completed: #85BF55;
  --stepper-in_progress: #2C7EF8;
  --stepper-pending: #2C7EF8;
  --stepper-pending-text-color: #2C7EF8;
  --product-title-span-color: #2C7EF8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.title {
  display: flex;
  align-self: center;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
}

h1 small {
  display: block;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--subitle-color);
}


h2 span {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--product-title-span-color);
}

h2 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;

}
.stepper .label {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.stepper .item {
  align-items: center;
  gap: 20px;
}

.stepper .label.current {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.status {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.status.completed {
  border-color: var(--stepper-completed);
  background-color: var(--stepper-completed);
}

.status.in_progress {
  border-color: var(--stepper-in_progress);
  background-color: var(--stepper-in_progress);
  color: var(--white);
}

.status.pending {
  border-color: var(--stepper-pending);
  background-color: var(--white);
  color: var(--stepper-pending-text-color);
  border-width: 2px;
}
