@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: #000;
  --white: #fff;
  --header--background-color: #252F3D;
  --subitle-color: #4D5254;
  --stepper-completed: #85BF55;
  --stepper-in_progress: #2C7EF8;
  --stepper-pending: #2C7EF8;
  --stepper-pending-text-color: #2C7EF8;
  --product-title-span-color: #2C7EF8;
  --product-original-price-before-apply-discount: #969696;
  --product-price-color: #2C7EF8;
  --product-description-color: #4D5254;
  --disccount-background-color: #EDF3FD;
  --disccount-icon-background-color: #2C7EF8;
  --claim-background-color: #59AE43;
  --secure-payment-border-color: #CFCFCF;
  --skip-promotion-color: #F82C2C;
  --user-name-comment-color: #333;
  --verified-color: #5BB59A;
  --comment-color: #4D5254;
  --footer-background-color: #252F3D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.header {
  background-color: var(--header--background-color);
  color: var(--white);
  padding: 14px 0;
}

.header > div {
  gap: 8px;
}

.title {
  display: flex;
  align-self: center;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
}

h1 small {
  display: block;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--subitle-color);
}


h2 span {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--product-title-span-color);
}

h2 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;

}
.stepper .label {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.stepper .item {
  align-items: center;
  gap: 20px;
}

.stepper .label.current {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.status {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.status.completed {
  border-color: var(--stepper-completed);
  background-color: var(--stepper-completed);
}

.status.in_progress {
  border-color: var(--stepper-in_progress);
  background-color: var(--stepper-in_progress);
  color: var(--white);
}

.status.pending {
  border-color: var(--stepper-pending);
  background-color: var(--white);
  color: var(--stepper-pending-text-color);
  border-width: 2px;
}

.product-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.product-details {
  gap: 15px;
}

.original-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--product-original-price-before-apply-discount);
  text-decoration: line-through;
}

.discounted-price,
.price {
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--product-price-color);
}

.stock {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.outer {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #E3EEFF;
  z-index: -1;
}

.inner {
  position: relative;
  width: 8.53px;
  height: 8.53px;
  background-color: #2C7EF8;
  border-radius: 50%;
  right: 50%;
  top: 3px
}

.product-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--product-description-color);
}

.features {
  gap: 16px;
}

.features li {
  list-style-image: url('/check.svg');
  list-style-position: inside;
}

.features .feat {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.features .feat span.strong {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.disccount {
  background-color: var(--disccount-background-color);
  border-radius: 10px;
  gap: 10px;
  padding: 12px 16px 12px 16px;
}


.disccount .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--disccount-icon-background-color);
  border-radius: 50%;
}

.promotion {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--black);
}

.promotion span.strong {
  color: var(--product-title-span-color);
}

button.claim {
  background-color: var(--claim-background-color);
  border-radius: 50px;
  gap: 10px;
  padding: 16px 64px 16px 64px;
  color: var(--white);
  text-transform: uppercase;

  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
}


.secure-payment {
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--secure-payment-border-color);
  color: var(--secure-payment-border-color);

  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}

.secure-payment > div:nth-child(1) {
  padding-left: 16px;
}

.secure-payment > div:nth-child(3) {
  padding-right: 16px;
}

.secure-payment > div {
  padding: 8px;
}

.no-thanks .skip {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--skip-promotion-color);
  text-decoration: underline;
  text-transform: uppercase;
}

.user-profile {
  gap: 15px;
}


.user-description {
  gap: 10px;
}

.user-profile .user {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--user-name-comment-color);
}

.user-profile .verified {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--verified-color);
  gap: 10px;
}

.comment {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--comment-color);
}

footer {
  padding: 24px 0;
  background-color: var(--footer-background-color);
}

.footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 0px 8px 0px;
  color: var(--white);
}

.footer .content .copyright > span:nth-child(1) {
  padding-right: 8px;
}


.footer .content .copyright > span:nth-child(2) {
  padding-left: 8px;
}

.footer .content .copyright > span {
  padding: 0 16px;
}